@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fcfb;
  --foreground: #222423;
  --bgcontainer: #f8fcfb4a;
  --bgcontainersecondary: #f8fcfbba;
  --bgspecial: #EFF8F5;
  --bgcontainerspecial: #F3F7F4;
  --bgnav: #f8fcfbc0;
  --subtitlel: #222423;
  --subtitler: #222423;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222423;
    --foreground: #f8fcfb;
    --bgcontainer: #2224234a;
    --bgcontainersecondary: #333634ba;
    --bgspecial: #2B312F;
    --bgcontainerspecial: #2B312F;
    --bgnav: #232424ba;
    --subtitlel: #64EDAE;
    --subtitler: #088395;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  transition: background-color 0.3s, color 0.3s;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for modern browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;     /* Firefox */
}

